.Header{
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 767px){
.Header{
  padding-top: 15px;
  padding-bottom: 15px;
}}

@media screen and (max-width: 1080px){
.Header {
  background-color:#fff;
  position: fixed;
  z-index: 10;
}}

.Header {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}


@media screen and (max-width: 767px){
.HeaderBox{
  max-width: 100%;
  margin: 0 20px;
}}

.Headerbox{
  display: flex;
  justify-content: space-between;
  margin: 0 36px 0 36px;
  max-width: 100%;
  position: relative;
}

/*未解決：text-decoration-thicknessが存在しないプロパティになっていること*/ 
.a{
  color: #000;
  text-decoration: none;
   text-decoration-line:none;
   text-decoration-thickness: initial;
   text-decoration-style: initial;
}
/*未解決：text-decoration-thicknessが存在しないプロパティになっていること*/ 

@media screen and (max-width: 767px){
  .HeaderLogo__image--pc{
    display:none;
    
  }}

.HeaderLogo__image--pc{
  display: block;
  height: 20px;
  width: auto;
}

.img{
  border:0;
   border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: initial;
    border-bottom-style: initial;
    border-bottom-width: 0px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  vertical-align: middle;
}
